{{!-- 
  DISPLAYS a blog post title, text, who it was created by, 
    and link (with count) to comments.
  CALLED BY  
    dashboard.handlebars 
    homepage.handlebars
    single-post.handlebars
    --}}
<article class="post">
  <div class="title">
    <a href="/post/{{id}}" class="edit-link">{{title}}</a>
    <p class="meta">
    posted by  {{user.username}} on {{format_date created_at}}</p>

 </div>
</article>