{{!-- 
  DISPLAYS each blog post
  CALLED BY
    controllers/home-routes.js
    res.render('homepage', {
        posts,
        loggedIn: req.session.loggedIn
      }); 
  CALLS
    post-info.post 
  --}}
<div>
  {{#each posts as |post|}}
  <div>
      {{> post-info post }}
  </div>
  {{/each}}
</div>